/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0 auto;
  padding: 10px;
  background-image: var(--bg-image);
  background-size: 375px 100vh;
  background-repeat: no-repeat;
  background-position: center 0;
  max-width: 375px;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/*------------------Ниже Header --------------*/
.header {
  position: relative;
}

.header__title { 
  font-weight: 700;
  grid-row: 3/4;
  font-size: 116px;
  line-height: 95.7px;
  color: var(--h1-color);
  text-shadow: 4px 4px var(--accent-color);
  margin: 39px 0 24px 0;
}

.header__description {
  max-width: 355px;
  grid-row: 4/5;
  color: var(--h5-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.decorated-zone {
  display: grid;
  gap: 31px;
}

.header__record-sign {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  top:0;
  right: 28px;
}

.corner {
  width: 27px;
  height: 27px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.corner_type_top {
  justify-self: end;
  align-self: start;
}

.header__corner_type_top::after{
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.corner_type_bottom {
  grid-row: 5/6;
  transform: rotate(180deg);
  align-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
  justify-content: end;
  margin: 7px 7px 0;

  
  
  /* padding-block-start: 39px; */
  /* padding-inline-end: 12px; */
  color: var(--menu-list-color);
}
.header__theme-menu {
  grid-row: 2/3;
}

.header__theme-menu-item{
  max-width: max-content;
}
.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  border: none;
  padding: 0 8px;
}

.header__theme-menu-button:hover {
  outline-offset: 3px;
  cursor: pointer; 
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
  outline: none;
}

.header__theme-menu-button:active {
  text-decoration: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  outline-offset: 3px;
  pointer-events: none;
}


/*------------------Ниже группа Main -------*/


.main {
  display: grid;
  gap: 40px;

}


.article__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color);

}


.article__answer{
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--h5-color);
  background-color: var(--accent-color);
}

.article__answer_list{
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--h5-color);
  background-color: var(--accent-color);
}

.article__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  font-size: 18px;
}

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.link:hover {
text-decoration: underline; 
}






.articles__list{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.articles__item{
  display: grid;
  gap: 60px;
}

.article_third{
  display: grid;
  /* grid-template-columns: minmax(100px, 236px) minmax(472px, 1fr); */
  grid-template-columns: max-content 1fr; 
  grid-template-rows: repeat (4, auto);
  gap: 20px;
}

.article_first{
  display: grid;
  gap: 10px;
}
  
.article_second {
  display: grid;
  gap: 10px;
}

.article__heading{
  grid-row: 1/2;
  grid-column: 1/-1;
}

.article__answer{
  grid-row: 2/3;
  grid-column: 1/-1;
}

.article__paragraph-list{
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__paragraph-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.article__answer_list{
  
}

.article__text{
  padding-bottom: 10px;
}


.pictures {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px
}

.gallery {
  list-style-type: none;
  padding: 0;
  max-width: 100%;
  display: grid;
  gap: 5px;
}



.gallery__item {
  
}


.gallery__image {
  max-width: 100%;
  object-fit: cover;
}







/*------------------Ниже Footer -------*/
.footer {
  min-height: 648px;
  /* min-height: 100vh; */
  display: grid;
  gap: 0;
  grid-template-rows: max-content 1fr max-content;
  

}

.footer__title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2/3;
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
  color: var(--h1-color);
  text-shadow: 2px 2px var(--accent-color);
}


/*-Ниже Медиа-запрос для установленной предпочитаемой темы-*/

@media (prefers-color-scheme: light) {
  .page {
    --bg-image: url(../images/cover-image-light.png);
    --menu-list-color:#000028;
    --accent-color: #ff8dcb;
    --h1-color: #FFC2E6;
    --text-color: #353430;
    --h5-color: #000028;
  
    .header__record-sign {
      display: none;
    }
    .header__corner_type_top::after {
      display: none;
    }
  
    .header__theme-menu-button_active {
      outline: 1px solid var(--menu-list-color, #000028);
    }
  
    .header__theme-menu-button:hover {
      outline: 1px solid rgba(50, 49, 45, 0.4);
  }
    .article__heading {
      color: var(--text-color, #353430)
    }
    .link:focus {
      outline: 1px solid rgba(50, 49, 45, 0.4); 
      }
}


@media (375px < width <= 768px) {
  .page {
    

  }
}