/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --menu-list-color: #ff0070;
  --h1-color: #db00ff;
  --h1-shadow-desktop: #ff0070;
  --text-color: #f1b2ce;
  --h5-color: #000028;
}
