/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  
}

.header {
  --h1-color: #DB00FF;
}

.article {
  --text-color: #F1B2CE;
  --h5-color: #000028;
}
